<!DOCTYPE html>
<html>
<body style="text-align: center;">
<title>Bob Boby Home page</title>
<h1 style="color:red;">Bob Boby</h1>
<p>I am 800 year old</p>
<p>tel: 050-1234567</p>
<p>Address: My cite, This street 58</p>
<img src="https://yt3.ggpht.com/a/AATXAJx_9MrV8SCgPe7GgqW3VylwWzumcKDpoM-TRA=s900-c-k-c0xffffffff-no-rj-mo" alt="Italian Trulli"style="width:180px;height:200px;">
<p></p>
<a href="mailto:webmaster@example.com">Send some thing nice</a>
<br>
<p >
<a href="resume.html" target="_blank ">Check out my resume</a>&nbsp;&nbsp;
<a href="hobby.html" target="_blank ">Look at my cool hobby</a>&nbsp;&nbsp;
<a href="quot.html" target="_blank ">This is the coolest</a>
</p>
</body>
</html>