<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<style>
.center {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
</style>
<body style="background-image: url('https://previews.123rf.com/images/vska/vska1607/vska160700059/60629281-abstract-digital-web-site-header-banner-technology-background.jpg');
background-repeat: no-repeat; background-size: cover; background-attachment: fixed; ">
<title>Welcome!</title>
<div style="height: 280px;">
    <div class="center">
        <a style="font-size:5vw;">Welcome to this site</a><br>    
        <a id= "log" style="font-size:2vw;">please Log-in or Sign-up so you can fully use the site</a> 
    </div>
    <div class="center" style="position: relative; top: 200px;">
        <a href="resume.html" target="_blank ">Check out my resume</a>&nbsp;&nbsp;
        <a href="hobby.html" target="_blank ">Look at my cool hobby</a>&nbsp;&nbsp;
        <a href="quot.html" target="_blank ">This is the coolest</a>
    </div>
    <div>
            {% if error %}
                    <a>{{ error }}</a>
            {% endif %}
    </div>
</div>
</body>
